.baseTheme {
	--blue: #0076ce;
	--purple: #6e2585;
	--pink: #b7295a;
	--red: #ce1126;
	--orange: #ee6411;
	--yellow: #f2af00;
	--green: #6ea204;
	--cyan: #006bbd;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: orange;
	--secondary: #eeeeee;
	--success: #408001;
	--danger: #ce1126;
	--pink: #b7295a;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: "Roboto", "Cordia New", "Microsoft Sans Serif", "Utsaah", "Devanagari MT", "Nirmala UI", "Latha", "InaiMathi", "Gautami", "Telugu Sangam MN", "Tunga", "Kannada Sangam MN", "Kartika", "Malayalam Sangam MN", "Shruti", "Nirmala UI", "Gujarati MT", "Gujarati Sangam MN", "Vrinda", "Bangla Sangam MN", "Meiryo UI Reg", "メイリオ Reg", "MS UI Gothic Reg", "Hiragino Kaku Gothic Reg", "ヒラギノ角ゴ Pro W3 Reg", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "Microsoft JhengHei", "微軟正黑體", "Malgun Gothic", "맑은 고딕", "Gulim", "AppleGothic", "Apple LiGothic", "LiHei Pro", "Osaka", "STHeiti", "华文黑体", "STXihei", "华文细黑", "SimHei", "黑体", "Arial Unicode MS", "Arial", sans-serif;
	--font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
}